html, body {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: sans-serif; }

.page-header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  background: #8B2635;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.75); }
  .page-header .logo {
    height: 50px;
    line-height: 50px; }
    .page-header .logo p {
      font-size: 2.4rem;
      color: #FFFFFF;
      margin: 0;
      padding: 0 0 0 20px; }
  .page-header .page-menu {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: #373E40;
    animation: settings 0.1s linear;
    margin: 0 auto 0 auto;
    z-index: 500; }
    .page-header .page-menu p {
      height: 50px;
      line-height: 50px;
      font-size: 2.4rem;
      color: #FFFFFF;
      margin: 0;
      padding: 0 0 0 20px; }
    .page-header .page-menu .page-menu-ul {
      list-style-type: none;
      padding: 60px 0 0 0;
      color: #FFFFFF;
      width: 80%;
      margin: 0 auto 0 auto;
      text-align: center; }
      .page-header .page-menu .page-menu-ul li {
        border-bottom: 1px solid #CCCCCC;
        margin: 0;
        padding: 10px;
        height: 40px;
        line-height: 40px; }
        .page-header .page-menu .page-menu-ul li svg {
          margin-right: 5px; }
        .page-header .page-menu .page-menu-ul li .active-users-amnt {
          display: inline;
          font-size: 1.6rem; }
    .page-header .page-menu .active-users-list {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: #373E40;
      display: none;
      animation: settings 0.1s linear;
      z-index: 502; }
      .page-header .page-menu .active-users-list input {
        height: 40px;
        width: 70%;
        box-sizing: border-box;
        margin: 0 auto 0 auto;
        display: block; }
      .page-header .page-menu .active-users-list .settings-hamburger {
        position: absolute;
        top: 12px;
        right: 20px;
        border: 0;
        background: transparent;
        z-index: 503; }
        .page-header .page-menu .active-users-list .settings-hamburger path {
          fill: #FFFFFF; }
      .page-header .page-menu .active-users-list .users-list ul li {
        height: 40px;
        padding: 10px;
        margin: 0; }
  .page-header .hamburger {
    position: absolute;
    height: 30px;
    top: 10px;
    right: 20px;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    z-index: 501;
    animation: settings 0.1s linear; }
    .page-header .hamburger .hamburger-icon path {
      fill: #FFFFFF; }
    .page-header .hamburger .close-icon {
      display: none; }
      .page-header .hamburger .close-icon path {
        fill: #FFFFFF; }

.page-header.nav-opened .page-menu {
  display: block; }
.page-header.nav-opened .hamburger .hamburger-icon {
  display: none; }
.page-header.nav-opened .hamburger .close-icon {
  display: block; }

.page-header.settings-opened .active-users-list {
  display: block; }
.page-header.settings-opened .hamburger {
  display: none; }

main .messages {
  padding: 70px 10px 70px 10px;
  overflow: scroll;
  min-height: 100%; }
  main .messages .message {
    background: #8B2635;
    border-radius: 5px;
    padding: 10px;
    word-wrap: break-word;
    color: #FFFFFF;
    margin: 5px 0 5px 0;
    display: inline-block;
    float: right;
    clear: both; }
  main .messages .message-info {
    background: transparent;
    clear: both;
    display: inline-block;
    float: right;
    font-size: 1.2rem;
    color: #CCCCCC;
    margin-top: 5px; }
    main .messages .message-info:last-child {
      display: inline-block; }
  main .messages .info {
    text-align: center;
    font-size: 1.4rem;
    color: #455A64;
    display: block;
    width: 100%;
    height: 40px;
    clear: both; }
  main .messages .message-info.message-info-opened {
    display: inline-block; }
main .wave {
  display: inline; }
  main .wave .dot {
    display: inline-block;
    margin: 0;
    padding: 0;
    animation: 1.3s infinite wave; }
    main .wave .dot:nth-child(2) {
      animation-delay: -1.1s; }
    main .wave .dot:nth-child(3) {
      animation-delay: -0.9s; }
main .input {
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #8B2635;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  z-index: -1; }
  main .input .message-input {
    height: 40px;
    margin: 5px;
    padding-left: 10px;
    font-size: 1.6rem;
    width: calc(100% - 50px);
    box-sizing: border-box;
    outline: none;
    border: 2px solid transparent; }
  main .input .send-message-btn {
    height: 30px;
    width: 30px;
    padding: 12px 0 0 0;
    background: transparent;
    border: 0; }
    main .input .send-message-btn .send-icon path {
      fill: #FFFFFF; }

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  background: #607D8B;
  color: #FFFFFF;
  top: 0;
  left: 0; }
  .modal h2 {
    text-align: center; }
  .modal .wrapper {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .modal .wrapper .log-in-input {
      width: 100%;
      height: 40px;
      border: 2px solid transparent;
      box-sizing: border-box; }
    .modal .wrapper .log-in {
      width: auto;
      padding: 10px 20px 10px 20px;
      margin-top: 20px;
      height: 40px;
      border: 2px solid transparent;
      box-sizing: border-box; }

.modal.modal-closed {
  animation: 0.5s linear modal; }

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
    opacity: initial; }
  30% {
    transform: translateY(-5px);
    opacity: 0.7; } }
@keyframes settings {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes settings2 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
