html, body {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: sans-serif; }

.page-header {
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  background: #8B2635;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.75); }
  .page-header .logo {
    height: 60px;
    line-height: 60px; }
    .page-header .logo p {
      font-size: 2.4rem;
      color: #FFFFFF;
      margin: 0;
      padding: 0 0 0 20px; }

main .messages {
  padding: 80px 10px 80px 10px;
  overflow: scroll;
  min-height: 100%; }
  main .messages .message {
    background: #8B2635;
    border-radius: 5px;
    padding: 10px;
    word-wrap: break-word;
    color: #FFFFFF;
    margin: 5px 0 5px 0;
    display: inline-block;
    float: right;
    clear: both; }
  main .messages .message-info {
    background: transparent;
    clear: both;
    display: inline-block;
    float: right;
    font-size: 1.2rem;
    color: #CCCCCC;
    margin-top: 5px; }
    main .messages .message-info:last-child {
      display: inline-block; }
  main .messages .info {
    text-align: center;
    font-size: 1.4rem;
    color: #455A64;
    display: block;
    width: 100%;
    height: 40px;
    clear: both; }
  main .messages .message-info.message-info-opened {
    display: inline-block; }
main .wave {
  display: inline; }
  main .wave .dot {
    display: inline-block;
    margin: 0;
    padding: 0;
    animation: 1.3s infinite wave; }
    main .wave .dot:nth-child(2) {
      animation-delay: -1.1s; }
    main .wave .dot:nth-child(3) {
      animation-delay: -0.9s; }
main .input {
  position: fixed;
  height: 60px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #8B2635;
  display: flex;
  flex-wrap: nowrap; }
  main .input .message-input {
    height: 40px;
    margin: 10px;
    padding-left: 10px;
    font-size: 1.6rem;
    width: 80%;
    box-sizing: border-box;
    outline: none;
    border: 2px solid transparent; }
    main .input .message-input:active {
      border: 2px solid #8B2635; }
  main .input .send-message-btn {
    height: 30px;
    margin: 15px 0 15px 0;
    background: transparent;
    border: 0; }

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  background: #607D8B;
  color: #FFFFFF;
  top: 0;
  left: 0; }
  .modal h2 {
    text-align: center; }
  .modal .wrapper {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .modal .wrapper .log-in-input {
      width: 100%;
      height: 40px;
      border: 2px solid transparent;
      box-sizing: border-box; }
    .modal .wrapper .log-in {
      width: auto;
      padding: 10px 20px 10px 20px;
      margin-top: 20px;
      height: 40px;
      border: 2px solid transparent;
      box-sizing: border-box; }

.modal.modal-closed {
  animation: 0.5s linear modal; }

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
    opacity: initial; }
  30% {
    transform: translateY(-5px);
    opacity: 0.7; } }
@keyframes modal {
  from {
    opacity: 1;
    display: initial; }
  to {
    opacity: 0;
    display: none; } }

/*# sourceMappingURL=style.css.map */
